/No terminal/ConversorDolarReal/nbproject/private/
/No terminal/ConversorDolarReal/build/
/No terminal/Caneta/nbproject/private/
/No terminal/Caneta/build/
/No terminal/Jogo da velha/nbproject/private/
/No terminal/Jogo da velha/build/